/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@font-face {
    font-family: 'capsuula';
    src: url('../capsuula/Capsuula-webfont.eot');
    src: url('../capsuula/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../capsuula/Capsuula-webfont.woff') format('woff'),
         url('../capsuula/Capsuula-webfont.ttf') format('truetype'),
         url('../capsuula/Capsuula-webfont.svg#CapsuulaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lane';
    src: url('../lane/LANENAR_-webfont.eot');
    src: url('../lane/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lane/LANENAR_-webfont.woff') format('woff'),
         url('../lane/LANENAR_-webfont.ttf') format('truetype'),
         url('../lane/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lane-upper';
    src: url('../lane/LANEUP__-webfont.eot');
    src: url('../lane/LANEUP__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lane/LANEUP__-webfont.woff') format('woff'),
         url('../lane/LANEUP__-webfont.ttf') format('truetype'),
         url('../lane/LANEUP__-webfont.svg#LaneUpperRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@mixin links {
	color: #162628;
	text-decoration: none;
	outline: none;
	@include transition-property(color);
	@include transition-duration(1s);
	@include transition-timing-function(ease-in);
}

@mixin headers {
	font-family: 'lane';
	color: $dkblue;
}

$dkblue : #162628;
$blue : #A3C7CE;

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Helvetica;
	
	// needs latest Compass, add '@import "compass"' to your scss
background-color: rgb(255,255,255); // Old browsers
@include filter-gradient(#ffffff, #a3c7ce, vertical); // IE6-8
// IE9 SVG, needs conditional override of 'filter' to 'none'
$experimental-support-for-svg: true;
@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(163,199,206,1) 100%));

}

header {
	display: block;
	padding: 30px;
	
	h1 {
		font-size: 20px;
		
		@include headers;
	}
	
	p {
		font-family: 'lane';
		font-size: 14px;
		color: $dkblue;
	}
}


#wrap {
	width: 600px;
	margin: 50px auto;
	
	h2 {
		@include headers;
	}
	
	#slides {
		position: relative;
		
		h2 {
			font-size: 60px;
			text-transform: lowercase;
		}
		p {
			font-size: 12px;
			line-height: 1.3em;
			font-weight: 100;
		}
		section {
			display: block;
			background: #43BA28;
			position: absolute;
			height: 260px;
			top: 0;
			left: 0;
			padding: 20px;
			z-index: 1;
			opacity: 0;
			@include border-radius(15px);
				
			+ section {
				background: #94BF2A;
				
				+ section {
					background: #B5BF2A;
					
					+ section {
						background: #D1BE2E;
						
						+ section {
							background: #FCAE3A;

							+ section {
								background: #FF9430;
							}
						}
					}
				}
			}
		}
		.active {
			z-index: 10;
		}
	}
	nav {
		display: block;
		padding-top: 310px;
		
		a {
			font-family: 'lane';
			font-size: 18px;
			text-align: center;
			padding: 0 28px;
			@include links;
		}
		
		a:hover, a:active {
			color: #fff;
		}
	}
}
@media only screen and (max-width : 768px) {
	body {
		background-color: #fff;
	}
}
@media only screen and (max-width : 480px) {
	body {
		background-color: #fff;
	}
	#wrap {
		width: 300px;
		margin: 0 auto;
		
		#slides {
		
			h2 {
			font-size: 30px;
			}
			section {
				height: 160px;
			}
		}
		nav {
			padding-top: 210px;
			
			a {
				padding: 5px;
			}
		}
	}
}